* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .3s ease;
}
.fancybox__container * {
  transition: none !important;
}
:root {
  --green: #00D92F;
}
@font-face {
  font-family: "Muller";
  src: url(./src/fonts/Fontfabric-MullerThin.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url(./src/fonts/Fontfabric-MullerRegular.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro";
  src: url(./src/fonts/MYRIADPRO-REGULAR.OTF) format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url(./src/fonts/Fontfabric-MullerMedium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url(./src/fonts/Fontfabric-MullerBold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url(./src/fonts/Fontfabric-MullerBold.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Muller";
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  max-width: calc(1220px + 16px * 2);
  width: 100%;
  //width: 70vw;
  margin: 0 auto;
  padding: 0 16px;
  @media (max-width: 1700px) {
    max-width: 70vw;
  }
  @media (max-width: 1450px) {
    max-width: 65vw;
  }
  @media (max-width: 1220px) {
    max-width: calc(1220px + 30px * 2);
    width: 100%;
    padding: 0 30px;
  }
}
.desktop-version {
  height:100vh;
  overflow: hidden;
  width: 100vw;
  @media (max-width: 1220px) {
    display: none;
  }
  .site-swiper  {
    width: 100%;
    height: 100%;

    .swiper-slide {
      &.swiper-slide-active {
        .screen-1 {
          .bg-screen {
            transform: scale(1);
          }
        }
      }
      .screen-1 {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        .bg-screen {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1.4);
          transition: 10s linear;
          position: relative;
          z-index: -1;

        }
        .content-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          .content {
            height: 100%;
            .head{
              padding-top: 46px;
              display: flex;
              gap: 10px;
              justify-content: flex-end;
              align-items: center;
              a {
                display: flex;
                height: 64px;
                padding: 20px;
                justify-content: flex-end;
                align-items: center;
                gap: 20px;
                align-self: stretch;
                border-radius: 10px;
                backdrop-filter: blur(8px);
                transition: .5s ease;
                text-decoration: none;
                span {
                  color: #FFF;
                  font-family: Muller;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
                &:hover {
                  gap: 10px;
                  svg path {
                    stroke: var(--green);
                  }
                  span {
                    color: var(--green);
                  }
                }
              }
              .calling-btn {
                display: inline-flex;
                padding: 5px;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border-radius: 50px;
                border: 1px solid rgba(255, 255, 255, 0.15);
                background: rgba(255, 255, 255, 0.20);
                backdrop-filter: blur(8px);
                cursor: pointer;
                .btn-wrapper {
                  border-radius: 50px;
                  background: linear-gradient(153deg, rgba(255, 255, 255, 0.37) 14.34%, rgba(255, 255, 255, 0.15) 85.59%);
                  display: flex;
                  padding: 10px;
                  align-items: center;
                  gap: 10px;
                  transition: .8s ease;

                  &:hover {
                    background: var(--green);
                  }

                  span {
                    color: #FFF;
                    font-family: Muller;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                  }
                }
              }
            }
            .logo-container {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 170px;
              flex-direction: column;
              padding-top: 130px;
              @media (max-width: 1450px) {
                padding-top: 100px;
                gap: 100px;
              }
              .img {
                display: flex;
                width: 733px;
                height: 314px;
                padding-right: 0.004px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                @media (max-width: 1450px) {
                  width: 573px;
                  height: 237px;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }

              button
              {
                background:transparent;
                cursor:pointer;
                border: 2px solid white;
                color: white;
                height: 54px;
                width: 54px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                animation: ripple 1.5s linear infinite;
                transition: all 0.7s ease;

                &:hover
                {
                  transform: scale(1.1);
                }
                &:focus
                {
                  outline:none;
                }
              }

              @keyframes ripple {
                0% {
                  box-shadow: 0 0 0 0 rgba(white, 0.3),
                  0 0 0 1px rgba(white, 0.3),
                  0 0 0 3px rgba(white, 0.3),
                  0 0 0 5px rgba(white, 0.3);
                }
                100% {
                  box-shadow: 0 0 0 0 rgba(white, 0.3),
                  0 0 0 4px rgba(white, 0.3),
                  0 0 0 20px rgba(white, 0),
                  0 0 0 30px rgba(white, 0);
                }
              }
            }
          }
        }

      }
      .screen-2 {
        background: #F7F7F7;
        height: 100%;
        width: 100%;
        .content {
          position: relative;
          height: 100%;
          overflow-y: auto;
          scrollbar-color: transparent transparent;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }
          &:hover {
            h2 {
              opacity: 0;
            }
          }
          h2 {
            position: absolute;
            top: 150px;
            left: 50px;
            color: #494A57;
            font-family: Muller;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            z-index: 1;
          }
          .priority-cards {
            display: flex;
            width:100%;
            height: 100%;
            .priority-card {
              width: calc(100% / 3);
              position: relative;
              height: 100%;
              display: flex;
              padding: 300px 50px 0px 50px;
              flex-direction: column;
              align-items: flex-start;
              gap: 50px;
              &:hover {
                .img {
                  .shadow-wrapper {
                    &::before {
                      transition: width .8s ease, opacity .1s ease .8s;
                      width: 0;
                      opacity: 0;
                    }
                    img {
                      opacity: 1;
                      width: 100%;
                      animation: scale 10s ease .5s forwards;
                    }
                  }
                }


                .title-row  {
                  span {
                    color: #fff;
                  }
                  p {
                    color: #fff;
                  }
                }
                .description {
                  color: #fff;
                }
              }
              .img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                transition: .5s ease;
                overflow: hidden;
                .shadow-wrapper {
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  position: relative;
                  &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    z-index: 2;
                    opacity: 1;
                    transition: opacity .5s ease;

                  }
                  img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    transition: 2s ease;
                    animation: scale 10s ease .5s forwards;
                  }
                }

              }
              @keyframes scale {
                0% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(1.2);
                }
              }
              .num {
                position: relative;
                z-index: 1;
                color: #00D92F;
                font-family: Muller;
                font-size: 35px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .title-row  {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                align-self: stretch;
                position: relative;
                z-index: 1;
                span {
                  color: #494A57;
                  font-family: Muller;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  text-transform: uppercase;
                }
                .line {
                  width: 100%;
                  height: 1px;
                  background: var(--green);
                }
                p {
                  color: #494A57;
                  font-family: Muller;
                  font-size: 30px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
              }
              .description {
                position: relative;
                z-index: 1;
                color: #494A57;
                font-family: "Myriad Pro";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
              }
            }
          }
        }
      }
      .screen-3 {
        width: 100%;
        height: 100%;
        background-color: #494A57;
        background-image: url("./src/images/about-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        .img {
          width: calc((100% - 100px) / 2);
          height: 701px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          overflow: hidden;
          z-index: 0;
          @media (max-width: 1700px) {
            height: 600px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          padding-top: 150px;
          padding-bottom: 150px;
          overflow-y: auto;
          scrollbar-color: transparent transparent;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }
          @media (max-width: 1700px) {
            padding-top: 100px;
            padding-bottom: 100px;
          }
          .column {
            width: calc((100% - 100px) / 2);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 100px;
            flex: 1 0 0;
            align-self: stretch;
            @media (max-width: 1700px) {
              gap: 70px;
            }
            h2 {
              color: #FFF;
              font-family: Muller;
              font-size: 70px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            p {
              color: #FFF;
              font-family: "Myriad Pro";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 170%; /* 34px */
            }
          }
        }
      }
      .screen-4 {
        background: #FFF;
        width: 100%;
        height: 100%;

        .content {
          display: flex;
          flex-direction: column;
          gap: 100px;
          height: 100%;
          padding-top: 150px;
          overflow-y: auto;
          scrollbar-color: transparent transparent;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }
          h2 {
            color: #494A57;
            font-family: Muller;
            font-size: 70px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            span {
              color: #494A57;
              font-family: Muller;
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 130%;
            }
          }
          .services-columns {
            display: flex;
            gap: 100px;
            margin-bottom: 150px;
            .service-column {
              width: calc((100% - 100px ) / 2);
              display: flex;
              flex-direction: column;
              gap: 100px;
              &:last-child {
                padding-top: 150px;
              }
              .service-card {
                display: flex;
                flex-direction: column;
                gap: 30px;
                width: 100%;
                .img {
                  height: 358px;
                  width: 100%;
                  border-radius: 5px;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                  }
                }
                .title {
                  color: #494A57;
                  font-family: "Myriad Pro";
                  font-size: 30px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
                .description {
                  color: #494A57;
                  font-family: "Myriad Pro";
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                }
              }
            }
          }
        }
      }
      .screen-5 {
        width: 100%;
        height: 100%;
        background-color: #494A57;
        background-image: url("./src/images/gallery-bg.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        position: relative;
        padding: 150px 0 150px 280px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        overflow-y: auto;
        scrollbar-color: transparent transparent;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          width: 0;
          height: 0;
          background-color: transparent;
        }
        h2 {
          color: #FFF;
          font-family: Muller;
          font-size: 70px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .gallery-images {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .gallery-image {
            width: calc(100% / 4);
            height: 265px;
            display: block;
            overflow: hidden;
            &:hover {
              img {
                transform: scale(1.1);
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: 2s ease;
            }
          }
        }
      }
      .screen-6 {
        width: 100%;
        height: 100%;
        position: relative;
        .fade-image {
          position: absolute;
          top: 50%;
          right: -1000px;
          transform: translateY(-50%);
          width: 35%;
          height: 50%;
          border-radius: 5px;
          overflow: hidden;
          transition: 1s ease;
          opacity: 0;
          &.show {
            right: 0;
            opacity: 1;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          border-left: 1px solid #D9D9D9;
          height: 100%;
          overflow-y: auto;
          scrollbar-color: transparent transparent;
          scrollbar-width: none;
          display: flex;
          flex-direction: column;
          gap: 100px;
          padding-top: 150px;
          padding-bottom: 150px;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }

          .title-row  {
            padding-left: 50px;
            display: flex;
            flex-direction:column;
            gap: 10px;
            h2 {
              color: #494A57;
              font-family: Muller;
              font-size: 70px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            span {
              color: #494A57;
              font-family: Muller;
              font-size: 15px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          .price-card {
            display: flex;
            flex-direction: column;
            padding-left: 50px;
            gap: 30px;
            img {
              display: none;
            }
            &:hover {
              .num {
                color: #EEE;
                font-family: Muller;
                font-size: 35px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .title {
                color: var(--green);
              }
            }
            .num {
              color: #00D92F;
              font-family: Muller;
              font-size: 35px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .title {
              color: #494A57;
              font-family: "Myriad Pro";
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: uppercase;
            }
            .description {
              color: #494A57;
              font-family: "Myriad Pro";
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            .price {
              color: #494A57;
              font-family: "Myriad Pro";
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }

        }
      }
      .screen-7 {
        background: #494A57;
        width: 100%;
        height: 100%;
        position: relative;
        .map {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          height: 811px;
          width: calc((100% - 100px) / 2);
          border-radius: 5px 0 0 5px;
          overflow: hidden;
          @media (max-width: 1700px) {
            height: 600px;
          }

          iframe {
            width: 100%;
            height: 100%;
          }

        }
        .content {
          height: 100%;
          padding-top: 150px;
          padding-bottom: 150px;

          overflow-y: auto;
          scrollbar-color: transparent transparent;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            background-color: transparent;
          }
          .column {
            width: calc((100% - 100px) / 2);
            display: flex;
            flex-direction: column;
            gap: 100px;
            h2 {
              color: #FFF;
              font-family: Muller;
              font-size: 70px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
            .contacts-row {
              display: flex;
              flex-direction: column;
              gap: 30px;
              span {
                color: #9899A7;
                font-family: "Myriad Pro";
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
              }
              p , a {
                color: #FFF;
                font-family: "Myriad Pro";
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration: none;
              }
            }
            .line {
              background: #9899A7;
              width: 100%;
              height: 1px;
              flex-shrink: 0;
            }
            .copy-row {
              display: flex;
              flex-direction: column;
              gap: 30px;
              .copy {
                color: #FFF;
                font-family: "Myriad Pro";
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
              .design {
                display: flex;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                text-decoration: none;
                span {
                  color: #9899A7;
                  font-family: "Myriad Pro";
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  text-decoration-line: underline;
                }
              }
            }
          }


        }
      }
    }
    .swiper-pagination {
      bottom: unset;
      top: 50%;
      transform: translateY(-50%);
      width: 260px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      &.changing-class {
        span {
          opacity: 0.3 !important;
        }
        .progress-bar {
          opacity: 0.3 !important;
        }
      }

      .custom-pagination-item {
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &.black {
          span {
            color: #000;
          }
          .progress-bar {
            background: gray ;
          }
        }

        &.active {
          .progress-bar {
            width: 50px;
            background: var(--green);
          }
          span {
            color: #00D92F;
          }
        }
        &:hover {
          .progress-bar {
            width: 50px;
            background: var(--green);
          }
          span {
            color: #00D92F;
          }
        }

        .progress-bar {
          width: 40px;
          height: 1px;
          flex-shrink: 0;
          opacity: 0.5;
          background: #FFF;
          transition: 0.8s ease;
        }
        span {
          color: #FFF;
          font-family: Muller;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          align-items: center;
          transition: 0.8s ease;
        }
      }
    }


  }
}
.mobile-version {
  height: auto;
  width: 100vw;
  display: none;
  @media (max-width: 1220px) {
    display: block;
  }
  .screen-1 {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    .bg-screen {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.4);
      transition: 10s linear;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      &.visible {
        transform: scale(1);
      }
    }
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px 30px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      img {
        @media (max-width: 399px) {
          width: 250px;
          height: 100px;
        }
      }
    }
  }
  .screen-2 {
    width: 100%;
    overflow: hidden;
    .content {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      h2 {
        color: #494A57;
        font-family: Muller;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .priority-swiper {
        width: 100%;
        overflow: unset;
        .priority-card {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 30px;
          .num {
            color: #00D92F;
            font-family: Muller;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .title {
            color: #494A57;
            font-family: Muller;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }
          .img {
            display: flex;
            height: 432px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            border-radius: 5px;
            background: #494A57;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .description {
            color: #494A57;
            font-family: Muller;
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }
  .screen-3 {
    width: 100%;
    background-color: #494A57;
    background-image: url("./src/images/about-bg.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    padding: 50px 0;
    .content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      h2 {
        color: #fff;
        font-family: Muller;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .img {
        width: 100%;
        height: 437px;
        border-radius: 5px;
        @media (max-width: 768px) {
          height: 237px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      p {
        color: #FFF;
        font-family: "Myriad Pro";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%; /* 34px */
      }
      button {
        @media (max-width: 450px) {
          width: 100%;
        }
      }
    }
  }
  .screen-4 {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h2 {
      padding: 0 30px;
      color: #494A57;
      font-family: Muller;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      span {
        color: #494A57;
        font-family: Muller;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .services-cards {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .service-card {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .img  {
          width: 100%;
          height: 273px;
          border-radius: 5px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .card-info  {
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding: 0 30px;

          p {
            color: #494A57;
            font-family: "Myriad Pro";
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          span {
            color: #494A57;
            font-family: "Myriad Pro";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
          a {
            display: flex;
            height: 64px;
            padding: 22px 30px;
            align-items: center;
            gap: 20px;
            border-radius: 50px;
            background: #00D92F;
            backdrop-filter: blur(8px);
            width: fit-content;
            border: none;
            text-decoration: none;
            @media (max-width: 450px) {
              width: 100%;
              justify-content: center;
            }
            span {
              color: #FFF;
              font-family: Muller;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
      }
    }
  }
  .screen-5 {
    width: 100%;
    height: 100%;
    background-color: #494A57;
    background-image: url("./src/images/gallery-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h2 {
      padding: 0 30px;
      color: #FFF;
      font-family: Muller;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .gallery-images {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .gallery-image {
        width: calc(100% / 4);
        height: 265px;
        display: block;
        overflow: hidden;
        border-radius: 5px;
        overflow: hidden;
        @media (max-width: 1050px) {
          width: calc(100% / 3);
        }
        @media (max-width: 770px) {
          width: calc(100% / 2);
        }
        @media (max-width: 500px) {
          height: 154px;
        }
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 2s ease;
        }
      }
    }
  }
  .screen-6 {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0;
    .title-row  {
      padding: 0 30px;
      display: flex;
      flex-direction:column;
      gap: 10px;
      h2 {
        color: #494A57;
        font-family: Muller;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      span {
        color: #494A57;
        font-family: Muller;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .price-cards {
      display: flex;
      flex-direction: column;
      gap: 50px;
      .price-card-mob {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 30px 50px;
        border-bottom: 1px solid #c1c1c1;
        .num {
          color: #00D92F;
          font-family: Muller;
          font-size: 35px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .title {
          color: #494A57;
          font-family: "Myriad Pro";
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        .description {
          color: #494A57;
          font-family: "Myriad Pro";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .price {
          color: #494A57;
          font-family: "Myriad Pro";
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        button {
          border-radius: 50px;
          background: #00D92F;
          backdrop-filter: blur(8px);
          span {
            color: #FFF;
          }
        }
      }
    }
  }
  .screen-7 {
    display: flex;
    flex-direction: column;
    background: #494A57;
    gap: 50px;
    padding: 50px 0;
    .map {
      width: 100%;
      height: 475px;
      a {
        display: none;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 50px;
      h2 {
        color: #FFF;
        font-family: Muller;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .contacts-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        span {
          color: #9899A7;
          font-family: "Myriad Pro";
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        p , a {
          color: #FFF;
          font-family: "Myriad Pro";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
        }
      }
      .copy-row {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .copy {
          color: #FFF;
          font-family: "Myriad Pro";
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .design {
          display: flex;
          align-items: center;
          gap: 10px;
          align-self: stretch;
          text-decoration: none;
          span {
            color: #9899A7;
            font-family: "Myriad Pro";
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
          }
        }
      }

    }
  }
}
.white-btn {
  display: inline-flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
  backdrop-filter: blur(8px);
  border: none;
  cursor: pointer;
  transition: .3s ease;
  width: fit-content;
  &:hover {
    display: inline-flex;
    padding: 20px 30px;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    background: #494A57;
    backdrop-filter: blur(8px);
    span {
      color: #fff;
    }
    svg path {
      fill: #FFFFFF;
    }
  }
  span {
    color: #494A57;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.transparent-btn {
  display: inline-flex;
  height: 64px;
  padding: 22px 30px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  backdrop-filter: blur(8px);
  background: transparent;
  transition: .3s ease;
  width: fit-content;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    border-radius: 50px;
    background: #00D92F;
    backdrop-filter: blur(8px);
    gap: 20px;
    span {
      color: #FFFFFF;
    }
    svg path {
      fill: #FFFFFF;
    }
  }

  span {
    color: #494A57;
    font-family: Muller;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
  padding: 0 25px;

  &.open {
    display: block;
  }
}
.modal {
  position: fixed;
  top: 0;
  right: -1500px ;
  border-radius: 5px 0 0 5px;
  background: #494A57;
  display: flex;
  max-width: 500px;
  height: 100vh;
  padding: 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  z-index: 10;
  background-image: url("./src/images/form-bg.png");
  background-position: top left;
  background-size: cover;
  transition: .8s ease;
  @media (max-width: 550px) {
    max-width: 90%;
  }
  &.booking-form {
    &.open {
      right: 0;
    }
  }
  &.callback-form {
    &.open {
      right: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    p {
      color: #FFF;
      font-family: Muller;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .form-input {
      display: flex;
      padding: 15px 20px;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 5px;
      background: #494A57;
      border: none;
      box-shadow: 0px 12px 24.9px -13px rgba(0, 217, 47, 0.29);
      outline: none;
      color: #FFF;
      font-family: Muller;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:focus::placeholder {
        opacity: 0;
      }
      &::placeholder {
        color: #FFF;
        font-family: Muller;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: .5;
        transition: .3s ease;
      }
    }
    .custom-checkbox {
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }

    .custom-checkbox .checkbox {
      margin-right: 10px;
      flex-shrink: 0;
    }

    .custom-checkbox input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      position: absolute;
    }

    .checkbox {
      position: relative;
      width: 18px;
      height: 18px;
      border: 1px solid #C6C6C6;
      border-radius: 2px;
      @media (max-width: 768px) {
        width: 13px;
        height: 13px;
      }
    }
    .custom-checkbox .custom-checkbox-text {
      color: #FFF;
      font-family: Muller;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }
    .checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: auto;
      display: none;
    }
    .custom-checkbox input:checked ~ .checkbox .checkmark {
      display: block;
    }
    .custom-checkbox input:checked ~ .checkbox {
      background: var(--green);
      border: 1px solid var(--green);
    }
  }

}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -2100px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #494A57;
  backdrop-filter: blur(8px);
  z-index: 11;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
  opacity: 0;
  transition: right .5s linear, opacity .2s ease;
  &.active {
    transition: right .5s linear, opacity .2s ease;
    right: 0;
    opacity: 1;
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  .mobile-menu-body {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    .close-menu-btn {
      position: absolute;
      right: 30px;
      top: 22px;
      display: flex;
      width: 40px;
      height: 40px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }
    ul {
      padding: 50px 0 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      li {
        a {
          display: flex;
          padding: 10px 50px;
          justify-content: flex-start;
          align-items: center;
          gap: 10px;
          color: #FFF;
          font-family: Muller;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration: none;
        }
      }
    }
    .contacts-row {
      flex-grow: 1;
      background: var(--green);
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 40px 0 40px 50px;

      a , button {
        display: flex;
        padding: 20px;
        align-items: center;
        gap: 10px;
        border-radius: 50px;
        background: #494A57;
        text-decoration: none;
        outline: none;
        border: none;
        width: fit-content;
        span {
          color: #FFF;
          font-family: Muller;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

}